<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Alex Zavizhenetc" />
    <title>United Traders</title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>" />
    <link rel="icon" href="<%= require('./images/icon_cat.png').default%>" />
  </head>
  <body class="root">
    

    <script type="module" src="<%= htmlWebpackPlugin.files.js %>"></script>
  </body>
</html>
