.footer {
  min-height: 238px;
  background-color: #19263f;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;
  color: #fff;
  &__nav {
    padding-top: 1.7%;
  }
  &__nav-items {
    display: flex;
    list-style: none;
    & li {
      padding-right: 2em;
    }
  }
  &__nav-item {
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    &:hover {
      color: #ffff00;
    }
  }
  &__social-items {
    display: flex;
    list-style: none;
    margin-bottom: 0;
    & li {
      padding-right: 2em;
    }
  }
  &__copyright {
    margin-bottom: 0;
  }
}
