.logo {
  @media screen and (max-width:460px){
    max-width: 70%;
  }
  background-image: url('./images/logo.svg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 1.3em;
}
