.nav {
  @media screen and (max-width:1150px){
    display: none;
  }
  width: 49%;
  &__items {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  &__items-img {
    display: inline-block;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 15px;
    height: 10px;
  }
  &__item {
    text-decoration: none;
    color: #ffff;
    font-size: 16px;
    line-height: 21px;
    &:hover {
      color: #ffff00;
      .nav__items-img {
        background-image: url('./images/arrow_down.png');
      }
    }
   
  }
  
}
